@model AbweCarPaymentCalculator.Models.PaymentCalcModel
@{
    ViewData["Title"] = "Abwe Car Payment Calculator";
}
<div class="container">
    <form asp-action="Index" method="Post">
         <div class="row">
            <label asp-for="PurchasePrice" class="col-lg-2 col-md-3 col-form-label">Purchase Price:</label>
            <div class="col-md-3">
                <input asp-for="PurchasePrice" class="form-control"/>
            </div>
            <span asp-validation-for="PurchasePrice" class="col text-danger"></span>
        </div>
        <div class="row">
            <label asp-for="InterestRate" class="col-lg-2 col-md-3 col-form-label">Interest Rate:</label>
            <div class="col-md-3">
                <input asp-for="InterestRate" class="form-control"/>
            </div>
            <span asp-validation-for="InterestRate" class="col text-danger"></span>
        </div>
        <div class="row">
            <label asp-for="LoanTerm" class="col-lg-2 col-md-3 col-form-label">Loan Term:</label>
            <div class="col-md-3">
                <input asp-for="LoanTerm" class="form-control"/>
            </div>
            <span asp-validation-for="LoanTerm" class="col text-danger"></span>
        </div>
        <div>
            <label class="col-lg-2 col-md-3 col-form-label">Monthly Payment:</label>
            <label class="col-lg-2 col-md-3 col-form-label">@ViewBag.Fv.ToString("C2")</label>
        </div>
        <button type="submit" class="btn btn-primary">Calculate</button>
        <a asp-action="Index" class="btn btn-outline-primary">Clear</a>
    </form>
</div>

